body{
    background-color: #edf2f4;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    width: 80%;
    background-color: #88656f;
    margin: 0  auto;
}
.title{
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
    padding: 20px;
    font-weight: 600;
    font-size: 40px; 
}

.title:hover{
    text-decoration: overline;
    color: #74776b;
    font-weight: 900;
    transition: .7s ease-in-out;
}
.top-menu{
    background-color: #74776b;
    overflow: hidden;

}

/* Nesting in css */
.top-menu ul li{
    list-style-type: none;
    float: left;
    border-right: 2px solid#edf2f4  ;
    padding: 5px 20px;


}
.top-menu ul li a{
    text-decoration: none;
    color: #edf2f4;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
/* Hover effect */
.top-menu ul li:hover{
    background-color:#74776b;
}
.top-menu ul li:hover a{
    text-decoration: underline;
    color: #edf2f4;
}
/* the image part */

/* .bg-image img{
    width: 100%;
    height: 60vh;

} */

.bg-image{
    background-image: url('./images/quokkabottles-njsyWkjGe1s-unsplash.jpg') ;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}
.bg-image h2{
    color: #edf2f4;
    background-color:#74776b ;
    padding: 32px;
    opacity: .5;
    border: 2px solid #f9faf5;


}
.btn{
    background-color: #74776b ;
    color:#edf2f4 ;
    border: 2px solid #74776b ;
    padding: 8px 32px;
    border-radius: 10px;
    cursor: grab;
}
.btn:hover{
    background-color: #88656f;
    transition-duration: .6s;

}
.welcome p{
    width: 60%;
    text-align: center;
    line-height: 20px;

    
}
 
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 500;

}
.row{
    display: flex;
    flex-direction: row;
}
.row-2{
    display: flex;
    flex-direction: row-reverse;
}
.col{
    max-width: 50%;
}

.img-fluid{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.px-3{
    padding-left: 32px;
    padding-right: 32px;
}
.py-4{
    padding-top: 32px;
    padding-bottom: 40px;
}

.text-start{
    text-align: left !important;

}
.text-center{
    text-align: center !important;
}

.text-end{
    text-align: right!important;
}

.credit{
    background: linear-gradient(45deg,#0b493c, #19352c);
}

.credit p{
    
    font-size: 24px;
}
.credit:hover{
    transform: rotate(1deg);
    transition-duration: .3s;
}












